//主色
$main-color1:#0C5DA5;
$main-color2:#26537C;
$main-color3:#043A6B;
$main-color4:#408DD2;
$main-color5:#679FD2;
//辅助色A
$subA-color1:#1F1AB2;
$subA-color2:#333086;
$subA-color3:#0C0874;
$subA-color4:#534ED9;
$subA-color5:#7673D9;
//辅助色B
$subB-color1:#00AC6B;
$subB-color2:#20815D;
$subB-color3:#007046;
$subB-color4:#35D699;
$subB-color5:#60D6A9;
//互补色
$comp-color1:#FF9500;
$comp-color2:#BF8430;
$comp-color3:#A66100;
$comp-color4:#FFB040;
$comp-color5:#FFC573;
//三角色A
$triA-color1:#FFC200;
$triA-color2:#BF9D30;
$triA-color3:#A67E00;
$triA-color4:#FFD140;
$triA-color5:#FFDD73;
//三角色B
$triB-color1:#FF4F00;
$triB-color2:#BF5D30;
$triB-color3:#A63400;
$triB-color4:#FF7B40;
$triB-color5:#FF9E73;
//默认文字颜色
$text-color1:rgb(50, 50, 50);
//背景
$background-color:rgb(240, 240, 240);